<!DOCTYPE html>
<html>
<head>
    <title>URL Text Scraper</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="text-center">URL Text Scraper</h1>
                <form id="urlForm" class="my-4">
                    <div class="form-group">
                        <input type="url" id="urlInput" class="form-control" required placeholder="Enter URL here">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <div id="results" class="mt-4"></div>
            </div>
        </div>
    </div>
  
    <script src="static/js/main.js"></script>
    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
